@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ürünlerin Listesine git <a asp-controller="Product">building Web apps with ASP.NET Core</a>.</p>
</div>
